.table thead {
    background-color: white;
}

.table tbody {
    background-color: #f4f4f4;
}

#crudModal input {
    width: 100%;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 400px;
    }
}

.bottom-msg {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    margin: 0px;

    color: #fff;
    text-align: center;
}

.msg-fail {
    background-color: #dd4b39;
}